In [1]:
from pymongo import MongoClient

In [5]:
mongo_client = MongoClient('34.215.106.7', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [6]:
cursor = collection_reference.find()

In [7]:
cursor.count()

2157100

In [8]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 20}}])

In [28]:
cursor_sampl.next()

{'_id': ObjectId('5a6be57636dd5f00016815dd'),
 'contributors': None,
 'coordinates': {'coordinates': [-118.245476, 34.053379], 'type': 'Point'},
 'created_at': 'Sat Jan 27 02:35:34 +0000 2018',
 'entities': {'hashtags': [{'indices': [78, 83], 'text': 'ohoy'},
   {'indices': [84, 91], 'text': 'styles'},
   {'indices': [92, 96], 'text': 'fit'}],
  'symbols': [],
  'urls': [{'display_url': 'instagram.com/p/Beb7Oo_gnoH/',
    'expanded_url': 'https://www.instagram.com/p/Beb7Oo_gnoH/',
    'indices': [98, 121],
    'url': 'https://t.co/TyJrLs2dim'}],
  'user_mentions': []},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': {'coordinates': [34.053379, -118.245476], 'type': 'Point'},
 'id': 957079607135498240,
 'id_str': '957079607135498240',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'place': {'attributes': {},
  'bounding_box': {'coordinates': [[[-118.668404, 33.704538],
     [-118.668404, 34.337041],
     [-118.155409, 34.337041],
     [-118.155409, 33.704538]]],
   'type': 'Polygon'},
  'country': 'United States',
  'country_code': 'US',
  'full_name': 'Los Angeles, CA',
  'id': '3b77caf94bfc81fe',
  'name': 'Los Angeles',
  'place_type': 'city',
  'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json'},
 'possibly_sensitive': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://instagram.com" rel="nofollow">Instagram</a>',
 'text': 'Keep Calm &amp; My body still under construction ! ðŸ’ªðŸ”§ðŸ”©ðŸ”¨ðŸ˜‚\n.\n.\n.\n. -ariefohoy-\n\n#ohoy #styles #fitâ€¦ https://t.co/TyJrLs2dim',
 'timestamp_ms': '1517020534677',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Tue May 17 08:55:12 +0000 2011',
  'default_profile': False,
  'default_profile_image': False,
  'description': 'Verified account | gonna be MC and succes Entrepreneur| Black eye glasses lovers| Cigarettes haters !  Addicted to : @ayuukania',
  'favourites_count': 46,
  'follow_request_sent': None,
  'followers_count': 279,
  'following': None,
  'friends_count': 81,
  'geo_enabled': True,
  'id': 300151896,
  'id_str': '300151896',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 20,
  'location': 'JAKARTA/ INDONESIA',
  'name': 'Arief Nugroho',
  'notifications': None,
  'profile_background_color': '080808',
  'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/378800000053196303/b176eaa274fda4d594d0e145815ef4fa.jpeg',
  'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/378800000053196303/b176eaa274fda4d594d0e145815ef4fa.jpeg',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/300151896/1468587841',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/753938192026378241/yoFYVtTA_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/753938192026378241/yoFYVtTA_normal.jpg',
  'profile_link_color': '43115C',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '252429',
  'profile_text_color': '666666',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'ariefohoy',
  'statuses_count': 12850,
  'time_zone': 'Bangkok',
  'translator_type': 'none',
  'url': 'http://ariefohoyofficial.blogspot.com',
  'utc_offset': 25200,
  'verified': False},
 'user_processed': True}

In [9]:
len(list(cursor_sampl))

20

In [10]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [11]:
tw = next(cursor_sampl)

In [12]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms', 'user_processed'])

In [13]:
list(tw.values())[:5]

[ObjectId('5a70e49d36dd5f00016aec4a'),
 'Tue Jan 30 21:33:17 +0000 2018',
 958453084975390720,
 '958453084975390720',
 '@BettyBounce420 @BettyBounceGFE @blunt_Kunt Twatter has been a shit show I guess. Fuckin up left and right haha']

In [14]:
import pandas as pd

In [15]:
tw_sample_df = pd.DataFrame(list(collection_reference.aggregate([{'$sample': {'size': 5}}])))

In [16]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                  bool
dtype: object

In [17]:
tw_sample_df.select_dtypes(int)

TypeError: include and exclude must both be non-string sequences

In [18]:
tw_sample_df.select_dtypes(float)

TypeError: include and exclude must both be non-string sequences

In [20]:
tw_sample_df.select_dtypes(object)

TypeError: include and exclude must both be non-string sequences

In [21]:
tw_sample_df[['id', 'id_str', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str']]

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str
0,954047906993946624,954047906993946624,9.540471e+17,954047055747481600,1.821538e+08,182153849
1,954098783855562752,954098783855562752,NaN,None,NaN,None
2,950578067495243776,950578067495243776,9.504319e+17,950431889000574977,1.352760e+09,1352759898
3,955647207310413824,955647207310413824,9.556468e+17,955646844985524225,1.544187e+09,1544187097
4,959940908161499136,959940908161499136,NaN,None,NaN,None

In [22]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [23]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [24]:
tw_sample_df

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,...,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,user_processed
0,5a60ddf936dd5f0001615de3,None,None,2018-01-18 17:48:41,"[12, 28]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@cemtekoglu Tam bi manyaklÄ±k,1516297721037,False,"{'id': 97765713, 'id_str': '97765713', 'name':...",True
1,5a610d5b36dd5f00016181fe,None,"{'type': 'Point', 'coordinates': [-118.3386645...",2018-01-18 21:10:51,NaN,"{'hashtags': [{'text': 'nerd', 'indices': [40,...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Been down for a cool minute. @pharrell #nerd ...,1516309851026,False,"{'id': 49981041, 'id_str': '49981041', 'name':...",True
2,5a543e6f47b2a100b5086d28,None,None,2018-01-09 04:00:46,"[117, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@magentatiffany @McKennaOpsCops...,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@magentatiffany @McKennaOpsCops @TMobile @sand...,1515470446834,True,"{'id': 26698691, 'id_str': '26698691', 'name':...",True
3,5a66af7036dd5f000164fc31,None,None,2018-01-23 03:43:43,"[13, 18]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@SwaggyDeuce Yikes,1516679023946,False,"{'id': 2569979725, 'id_str': '2569979725', 'na...",True
4,5a764e48a8641e000192ebbd,None,None,2018-02-04 00:05:22,"[0, 24]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 959940893514989568, 'id_str'...",NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",If this ainâ€™t a mood tho https://t.co/at05ylTsdk,1517702722002,False,"{'id': 357038573, 'id_str': '357038573', 'name...",True

## Tweets Containing Geo Information

In [25]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

### DO NOT RUN THIS

In [26]:
# contain_geo_search.count()

    318373

## Distinct Users

#### TRY THIS

In [27]:
collection_reference.distinct('user')

OperationFailure: distinct too big, 16mb cap